<h1 class="my-3">Все события</h1>

<div>
  <%= link_to I18n.t('new_event'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  <%= render partial: 'events/event', collection: @events %>
</div>
