<div class="text-center mt-3 mb-1">
  <%= t('photos.added') %>
  <%= render partial: 'users/user', object: photo.user %>
</div>

<%= button_to(bi_icon('trash'), event_photo_path(photo.event, photo), method: :delete,
              class: 'btn btn-link p-0', form_class: 'd-inline', title: t('photos.delete')) if
      current_user_can_edit?(photo) %>
